__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info
dist/
build/
eggs/
parts/
bin/
sbin/
lib/
lib64/
.installed.cfg
*.pth
*.spec
pip-log.txt
pip-delete-this.txt
*.whl
wheels/
_MEI*
*.exe
*.onefile
*.tmp
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.env
.venv
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.python-version
.vscode/
.sourcery/


# project specific rules
converted_pdfs/*
prompts/*
!prompts/README.md
!prompts/example_prompt.txt
notes.md